PORT=3000
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@example.com
SMTP_PASS=your-password
SENDMAIL_PATH=/usr/sbin/sendmail
MAIL_TO=parlar-w@parlar.org.tr,mevlutc@freshdatatechnology.com
MAIL_FROM=example@example.com
